---
# Global Options for all Languages
BasedOnStyle: LLVM
AlignAfterOpenBracket: BlockIndent
AlignArrayOfStructures: Left
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  AlignCompound: true
  PadOperators: true
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
AlignOperands: Align
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Inline
AllowShortLoopsOnASingleLine: true
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: true
AttributeMacros: []
BinPackArguments: true
BinPackParameters: true
BreakBeforeBraces: Linux
BreakBeforeTernaryOperators: true
ColumnLimit: 80
IndentWrappedFunctionNames: true
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
ReflowComments: true
SeparateDefinitionBlocks: Always
SpaceAfterCStyleCast: true
SpaceAfterLogicalNot: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: true
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeSquareBrackets: false
SpaceInEmptyBlock: false
SpaceInEmptyParentheses: false
SpacesInAngles: Never
SpacesInCStyleCastParentheses: false
SpacesInConditionalStatement: false
SpacesInContainerLiterals: true
SpacesInLineCommentPrefix:
  Minimum: 1
  Maximum: 1
SpacesInParentheses: false
SpacesInSquareBrackets: false

---
Language: Cpp
AccessModifierOffset: -4
AlignConsecutiveBitFields:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
AlignEscapedNewlines: Right
AlwaysBreakTemplateDeclarations: Yes
BitFieldColonSpacing: Both
BreakBeforeConceptDeclarations: true
BreakStringLiterals: true
CompactNamespaces: false
EmptyLineAfterAccessModifier: Never
EmptyLineBeforeAccessModifier: Always
FixNamespaceComments: true
ForEachMacros: ['RANGES_FOR', 'FOREACH']
IfMacros: ['IF']
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<.*>$'
    Priority: 1
    SortPriority: 1
  - Regex: '^".*"$'
    Priority: 2
    SortPriority: 2
IncludeIsMainRegex: '(_test)?$'
IndentAccessModifiers: false
IndentCaseBlocks: false
IndentExternBlock: Indent
IndentGotoLabels: false
IndentPPDirectives: AfterHash
IndentRequiresClause: true
IndentWidth: 4
NamespaceIndentation: Inner
PointerAlignment: Right
SortIncludes: CaseSensitive
SpaceAfterTemplateKeyword: false

---
Language: CSharp
AlignConsecutiveBitFields: None
AlignConsecutiveMacros: None
AccessModifierOffset: -4
IndentWidth: 4

---
Language: Java
AlignConsecutiveBitFields: None
AlignConsecutiveMacros: None
AccessModifierOffset: -4
BreakAfterJavaFieldAnnotations: true
IndentWidth: 4
SortJavaStaticImport: After

---
Language: JavaScript
AlignConsecutiveBitFields: None
AlignConsecutiveMacros: None
AccessModifierOffset: -2
IndentWidth: 2
JavaScriptQuotes: Single
JavaScriptWrapImports: true

---
Language: Json
AlignConsecutiveBitFields: None
AlignConsecutiveMacros: None
AccessModifierOffset: -2
IndentWidth: 2

---
